@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');


.transition5 {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
  }

body{width: 100%;}


.video {background-color: #0e0e0e;
        width: 100%;
		height: 100vh;}
		
.animacion-body{background-color: #0e0e0e;
	
	width: 100%;
	height: 100vh;}		
a{transition: filter .7s;}
a:hover{filter: brightness(70%);
		} 
a:link, a:visited, a:active {
	
	text-decoration:none;
	color: white;
}	
li{list-style: none;}
.portada {
		display: flex;
		justify-content: center;
		align-items: center;
		}

.livia-portada{width: 100%;
	height: 100vh;
	background-image: url(imagenes/fondorojo.gif);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;}		
	
.livia-portada-menu{width: 100%;
	height: 100vh;
	background-image: url(imagenes/fondonegro.gif);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;}

.firmalivia{width: 4em;}	

.text-center{text-align: center}
.hover:hover{filter: brightness(70%);}
.hover-inv:hover{filter: brightness(30%);}
.shadow{text-shadow:   2px 8px 8px #000000;}
.subtitulo{display: flex;
			flex-direction: row;
			justify-content: space-between;}

.texto-blanco{ color: white;
				font-family: 'Montserrat', sans-serif; }
.texto-gris{color: #a5a5a5;}
.montserrat{font-family: 'Montserrat', sans-serif;}	

.bold{font-weight: 700}
.thin{font-weight: 200;}				  
.htrescelu{font-size: 2rem;}
.hseiscelu{font-size: 1rem;
			font-weight: 200;}

.hsietecelu{font-size: .8em;}
.copyright{position: absolute;
			top:95%}
.column{display: flex;
		flex-direction: column;}
.logo5{width: 1.2em;
		z-index: 100;}
.page-footer{background-color: #232323;}					
.copy{background-color: #191919;}
.fondo-blanco{background-color: #fff;}
.margin-0{margin:0;
					padding: 0;
					padding-right: 0;
					padding-left: 0;}


/*---------------------DROPDOWN COMIENZO--------------------------*/
main div.dropdown-toggle,
main div.dropdown-toggle a {
  font-family: 'Montserrat', 'Century gothic', sans-serif;
  font-weight: 300;
  font-size: 2.3rem;
  font-weight: 900;
 text-transform: lowercase;
  margin: 1.2rem 0 0 0;
  font-size: 1rem;
  letter-spacing: 0.22rem;
  color: #b3b3b3;
  text-decoration: none;
}
main div.dropdown-toggle.link {text-decoration: none;}

main div.dropdown-toggle.link:hover,
main div.dropdown-toggle a.link:hover,
main div.dropdown-toggle.link a:hover,
main div.dropdown-toggle a.link a:hover,
main div.dropdown-toggle.link:hover,
main div.dropdown-toggle a.link:hover,
main div.dropdown-toggle.link a:hover,
main div.dropdown-toggle a.link a:hover,
main div.dropdown-toggle.link.open,
main div.dropdown-toggle a.link.open,
main div.dropdown-toggle.link a.open,
main div.dropdown-toggle a.link a.open {
  cursor: pointer;
  color: rgba(250, 250, 250, 0.719);
}
main div.dropdown-info {
  display: none;
}
main div.dropdown-info a {
  font-family: 'Montserrat', 'Century gothic', sans-serif;
  font-weight: 300;
  font-size: 2.3rem;
  color: #e4e4e4;
  position: relative;
}
main div.dropdown-info a:after {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: rgb(155, 155, 155);
  content: '';
  display: block;
  height: 0.05rem;
  left: 0;
  position: absolute;
  width: 0;
}
main div.dropdown-info a:hover {
  cursor: pointer;
}
main div.dropdown-info a:hover:after {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: rgb(180, 13, 13);
  content: '';
  display: block;
  height: 0.08rem;
  left: 0;
  position: absolute;
  width: 100%;
}
main div.dropdown-info ul li {
  font-family: 'Montserrat', 'Century gothic', sans-serif;
  font-weight: 300;
  font-size: 2.3rem;
  color: #3D3D3D;
  list-style: none;
  font-weight: 700;
  font-size: 1rem;
}



.negrita {font-weight: 700;}

ul{margin: 0;
	padding-inline-start:0;}
.menu-ul{text-align: center;
		 padding-right: .5em;}	


main div.dropdown-info ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  
  text-decoration: none;
  color: rgba(231, 231, 231, 0.658);
  font-size: .9rem;
  margin-top: 1em ;
  text-align: center;
}
main div.dropdown-info ul li a:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}
main div.dropdown-info ul li ul {
  margin-left: 0rem;
}
main div.dropdown-info ul li ul li {
  font-family: 'Montserrat', 'Century gothic', sans-serif;
  font-weight: 300;
  font-size: 2.0rem;
  color: #3D3D3D;
  font-size: 1.0rem;
}
.dropdown-toggle::after{border: none;}
/*------------------------------DROPDOWN FIN---------------------------------*/
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {color: rgba(255, 255, 255, 0.83)}
.instagram{display: none}

.navbar-inverse .navbar-nav .nav-link {background-color:transparent}

#mypath{
	stroke-opacity: .2;
	stroke-dashoffset: 1000;
	stroke-dasharray: 50;
	animation-name: padda;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction:alternate;
}
svg{width:10em;
	height: 3em;
	}
@keyframes padda {
	to {
		stroke-dashoffset: 0;
	}
}

.play{position: absolute;
	z-index: 111;
	display: none;
	}
.play-img{width: 3em;}

.play a:focus{display: none;}
.tamaño-textor-reel{font-size: .8em;
					padding-left: 1.4em;}

@media (min-width: 700px) and (orientation: landscape){
	ul{margin: 0;
		padding-inline-start:0;}
														.dropdown-item.active, .dropdown-item:active{background: transparent;}
														.dropdown-item:focus, .dropdown-item:hover {background-color: transparent;}
														.htrescelu{font-size: 5rem;}
														.hseiscelu{font-size: 2.4rem;
															font-weight: 200;}
														.instagram{display: block}
														.livia-portada{
																			width: 100%;
																			height: 100vh;
																			/*background-image: url(imagenes/ruidonegro.gif);*/
																			background-image: url(imagenes/fondorojo.gif);
																			background-position: center;
																			-webkit-background-size: cover;
																			background-size: cover;
																			background-repeat: no-repeat;
																			/*background-attachment: fixed;*/
					
																			}
														.firmalivia{width: 6em;}

														.tamaño-texto-liv{font-size: 1.2em;}
														.tamaño-texto-liv:hover{opacity: .5;
																				cursor: pointer;}					
																			
														.htrescelu{font-size: 2rem;}
														.hseiscelu{font-size: 1rem;}
													
	
	
}