.exposiciones{background-image: url(imagenes/fondoazul.gif);
                }

.img-bullbeny{width: 100%;
                height: 10%;
     }

.div-bullbeny{display: flex;
                height: 100vh;
                justify-content: center;
               align-items: center;
                align-content: center; 
                margin: 0;
                }                


.centrar{margin: 0;
    display: flex;
    justify-content: center;
   align-items: center;
    align-content: center; }                

.hover-transition{transition: all .9s;
        cursor: pointer;
        }
.hover-transition:hover{filter: brightness(80%);
    transform: scale(1.02);
}  
.hover-transition-invert {filter: brightness(70%);
    transition: filter .7s;
    cursor: pointer;}
.hover-transition-invert:hover{filter: brightness(100%);
} 
.img-expo{width: 100%;}

.modal-lg{width: 100%;}

h3{font-weight: 100;
    color: rgba(189, 189, 189, 0.733);
    margin-left: 0;
    padding-left: 0;
    font-size: 1.4rem;}

h4{font-weight: 400;
        color: white;
        margin-left: 0;
        padding-left: 0;}   
h5{color: rgba(209, 209, 209, 0.582);}        
h6{color: rgba(189, 189, 189, 0.842);
    font-weight: 200;}   
.aling-right{text-align: right;
                font-size: .8rem;}
video{width: 97.26%;}
 .overflow {
    width: 42em;
    height: 100%;
    overflow: hidden;
                }                

 .topbar3 {background-color: black;
                    background-image: url(imagenes/fondoazul.gif);
                    }               
                                